a {
    color:white;
}

a:visited {
    color: white;
}

header {
    background-color: #ac1639;
    position: relative;
    box-shadow: 0 0 10px darkgray;
    color: white;
    text-align: center;
    padding: 25px;
}

body {
    font-family: "Cairo", sans-serif;
}

section {
    min-height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 90%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px lightgray;
    min-width: 700px;
}

footer {
    position: fixed;
    background-color: #191919;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 25px 0;
    margin: 50px 0 0;
    z-index: +4;
}

.input {
    width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
}

.inputacierto {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-bottom: 4px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 15px;
    color: black;
}

.input2 {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #ac1639;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;

}

.input3 {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #ac1639;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;

}

.input3:hover{
    background-color: darkred;
    box-shadow: 0 0 10px darkgray;
    transform: translateY(5px);
    border: 1px solid white;
}

.input2:hover{
    background-color: darkred;
    box-shadow: 0 0 10px darkgray;
    transform: translateY(5px)
}

.sector {
    display: grid;
    grid-template: 100%/repeat(auto-fit,30%);
    grid-gap: 20px;

    width: 500px;

    justify-content: center;
    align-items: top;
}

.sector4 {
    display: grid;
    grid-template: 100%/repeat(auto-fit,22%);
    grid-gap: 20px;

    width: 500px;

    justify-content: center;
    align-items: top;
}

.image2{
    z-index: +2;
    position: absolute;
    top: 400px;
    margin-left: 100px;
    width: 300px;
}

.image{
    position: relative;
    width: 500px;
    z-index: +1;
    box-shadow: 0 0 10px darkgray;
}

.imagecontainer{
    margin: auto;
    z-index: 0;
}

.enfoque{
    z-index: +1;
    width: 500px;
    border: 2px #191919 solid;
    border-radius: 15px;
    position: relative;
    margin: 35px;
    left: 0%;
}

.enfoqueborderless{
    z-index: +1;
    width: 500px;
    position: relative;
    margin: 35px;
    left: 0%;
}

.enfoquepilotos{
    z-index: +1;
    width: 320px;
    height: 1000px;
    border-radius: 15px;
    position: absolute;
    top: 920px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.piloto1{
    height: 1000px;
    width: 68px;
}

.piloto2{
    height: 1000px;
    width: 98px;
}

.piloto3{
    height: 1000px;
    width: 75px;
}

.piloto4{
    height: 1000px;
    width: 75px;
}

.controlpiloto1{
position: absolute;
top: 940px;
-webkit-filter: drop-shadow(0px 0px 1px black);
filter: drop-shadow(0px 0px 1px black);
transition: top 2s;
}

.controlpiloto2{
position: absolute;
top: 940px;
-webkit-filter: drop-shadow(0px 0px 1px black);
filter: drop-shadow(0px 0px 1px black);
transition: top 2s;
}

.controlpiloto3{
position: absolute;
top: 945px;
-webkit-filter: drop-shadow(0px 0px 1px black);
filter: drop-shadow(0px 0px 1px black);
transition: top 2s;
}

.controlpiloto4{
position: absolute;
top: 940px;
-webkit-filter: drop-shadow(0px 0px 1px black);
filter: drop-shadow(0px 0px 1px black);
transition: top 2s;
}

.item {
    width: 30%;

    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;

    cursor: pointer;

    text-align: center;
    line-height: 0px;
    padding: 0px;
}

.item2 {
    width: 30%;

    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: #191919 solid 1px;
    text-align: center;
    line-height: 0px;
    padding: 0px;
}

.item2:hover{
    cursor: pointer;
    box-shadow: 0 0 10px darkgray;
    margin:0px;
    border-radius: 5px;
}

.filas{


    position: absolute;
    top: -25px;

    height: 650px;

    left: 25px;
    width: 300px;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.filas2{

    position: absolute;
    top: -25px;

    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.item3 {
    width: 30%;

    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px;
    text-align: center;
    line-height: 0px;
    padding: 0px;

    background-color: '';
    z-index: -1;
}