a {
    color:white;
}

a:visited {
    color: white;
}

header {
    background-color: seagreen;
    position: relative;
    box-shadow: 0 0 10px darkgray;
    color: white;
    text-align: center;
    padding: 25px;
}

body {
    font-family: "Cairo", sans-serif;
}

section {
    min-height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 90%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px lightgray;
    min-width: 700px;
}

footer {
    position: fixed;
    background-color: #191919;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 25px 0;
    margin: 50px 0 0;
    z-index: +1;
}

.input {
    width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
}

.input2 {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: seagreen;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;

}

.input2:hover{
    background-color: green;
    box-shadow: 0 0 10px darkgray;
    transform: translateY(5px)
}

.sector {
    display: grid;
    grid-template: 100%/repeat(auto-fit,30%);
    grid-gap: 20px;

    width: 500px;

    justify-content: center;
    align-items: top;
}

.image2{
    z-index: +2;
    position: absolute;
    top: 400px;
    margin-left: 100px;
    width: 300px;
}

.image{
    position: relative;
    width: 500px;
    z-index: +1;
    box-shadow: 0 0 10px darkgray;
}

.imagecontainer{
    margin: auto;
    display: block;
}

.enfoque{
    width: 90%;
    border: 2px #191919 solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.enfoquesalida{
    width: 90%;
    border: 0px #191919 solid;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 0 3px darkgray;
    color: darkgray;
}

.enfoque2{
    z-index: +1;
    width: 100%;
    border-radius: 15px;
    display: flex;
}

.enfoque3{
    z-index: +1;
    width: 350px;
    border-radius: 15px;
    position: absolute;
    top: 720px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.local{
    display: grid;
    grid-template: 100%/repeat(auto-fit,27%);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}

.salida{
    display: grid;
    grid-template: 100%/repeat(auto-fit,27%);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.item {
    width: 30%;

    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;

    cursor: pointer;

    text-align: center;
    line-height: 0px;
    padding: 0px;
}

.item2 {
    width: 30%;

    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: #191919 solid 1px;
    text-align: center;
    line-height: 0px;
    padding: 0px;
}

.item2:hover{
    cursor: pointer;
    box-shadow: 0 0 10px darkgray;
    margin:0px;
    border-radius: 5px;
}

.filas{


    position: absolute;
    top: -25px;

    height: 650px;

    left: 25px;
    width: 300px;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filas2{

    position: absolute;
    top: -25px;

    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item3 {
    width: 30%;

    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px;
    text-align: center;
    line-height: 0px;
    padding: 0px;

    background-color: '';
    z-index: -1;
}