a {
    color:white;
}

a:visited {
    color: white;
}

header {
    background-color: indigo;
    position: relative;
    box-shadow: 0 0 10px darkgray;
    color: white;
    text-align: center;
    padding: 25px;
}

body {
    font-family: "Cairo", sans-serif;
}

section {
    min-height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 90%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px lightgray;
    min-width: 700px;
}

footer {
    position: fixed;
    background-color: #191919;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 25px 0;
    margin: 50px 0 0;
    z-index: +1;
}

.input {
    width: 90%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
}

.input2 {
    display: block;
    width: 87%;
    padding: 15px;
    background-color: indigo;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

  .input2:hover{
    background-color: rebeccapurple;
    box-shadow: 0 0 10px darkgray;
    transform: translateY(5px)
}

.sector {
    display: grid;
    grid-template: 100%/repeat(auto-fit,47%);
    grid-gap: 20px;

    justify-content: center;
    align-items: center;
}