a {
    color:white;
}

a:visited {
    color: white;
}

.header {
    background-color: darkgoldenrod;
    position: relative;
    box-shadow: 0 0 10px darkgray;
    color: white;
    text-align: center;
    padding: 25px;
}

body {
    font-family: "Cairo", sans-serif;
}

.li {
    border: 2px solid white;
    width: 50%;
    text-decoration: none;
    list-style: none;
    line-height: 1;
    padding: 15px 0;
    background-color: darkgoldenrod;
}

.li:hover {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    position: fixed;
    background-color: #191919;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 5px 0;
    margin: 50px 0 0;
    z-index: +1;
}

.section {
    min-height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 90%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px lightgray;
    min-width: 700px;
}